@import url(https://fonts.googleapis.com/css?family=Squada+One|Trade+Winds);
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float|fire-animation|neon|anaglyph);

header {
	background-color: rgb(97, 149, 181);
	padding: 20px 10px 0px;

}
html {
    height: 100%;

}

body {
   min-height: 400px;
   margin-bottom: 50px;
   clear: both;
}

footer {
	background-color: rgb(97, 149, 181);
	position: fixed;
 	bottom: 0;
 	width: 100%;
}

h3 {
	font-family:'Squada One';
	font-size: 60px;
}


h4 {
	font-family:'Trade Winds';
	font-size: 80px;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  padding-left: 10px;
  font-family: 'Squada One';
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: maroon;
  color: white;
}



.title {
	margin: auto;
	text-align: center;
}

.logo {
	height: 65px;
	width: 65px;
	float: left;
}

.name {
	color: white;
	font-size: 30px;
}

#profile {
	position: absolute;
	right: 100px;
}


.historyReportModal {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;

}

#wrap { width: 300px; height: 2000px; padding: 0; overflow: hidden; }
#frame { width: 300px; height: 200px; border: 1px solid black; }
#frame {
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
}

.github {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.login {
	background-color: rgb(97, 149, 181);
	text-align: center;
}

.loginForm {
	margin: 20px;
}

#piano-img {
  height: 70px;
  width: 270px;
}

#piano-input {
  background-color: rgb(97, 149, 181);
}